.material-symbols-outlined {
         font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 18;
      }
      
      .fixed-nav-bar #icon-container {
         display: flex;
         align-items: center;
      }
      
      img {
         width: 100%;
         height: 100%;
         padding-top: 5px;
      }
      
      .fixed-nav-bar-container {
         min-width: 5vw;
         min-height: 10vh;
         display: inline;
      }
      
      .fixed-nav-bar {
         top: 0;
         letter-spacing: 2px;
         font-size: 22px;
         left: 0;
         right: 0;
         min-height: 10vh;
         padding: 0 25px;
         box-sizing: border-box;
         background-color: var(--background-nav);
         box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
         -webkit-backdrop-filter: var(--backdrop-filter);
         backdrop-filter: var(--backdrop-filter);
         transition: 0.35s ease;
         border-radius: 15px;
         width: fill;
         margin: 15px;
         z-index: 100;
         position: fixed;
      }
      
      .fixed-nav-bar .icon:hover {
         transform: translateY(-15%) scale(1.03);
         font-weight: 800;
      }